# Node
node_modules
.pnpm-store

# Python
.venv
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/

apps/desktop
.DS_Store
*.log*
temp
*.pt
.env
*.mp4
*.mkv
__pycache__
.venv
apps/*/node_modules
packages/*/node_modules

*.gguf
models
models/yolo/*
