@import 'tailwindcss';

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.editor-input p:focus,
.editor-input p:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

.editor-input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px transparent;
}